/* body {
  padding: 24px;
} */

.padding {
  padding: 24px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.filterCar-container {
  margin-bottom: 28px;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .filterCar-container {
    flex-direction: column;
  }

  .filterCar-container input,
  .filterCar-container select {
    width: 75%;
  }

  .filterCar-container button {
    width: 60px;
  }
}
